<p>Dear <%= @attendee.f_name %>,</p>

<br />

<p>You have successfully booked <%= @num_tickets %> tickets to <%= @event.title %>. Please check <%= link_to 'your calendar', "#{Rails.application.config.frontend_url}/calendar" %> and <%= link_to 'ticket purchase history', "#{Rails.application.config.frontend_url}/history" %> for more details.</p>

<br />

<p>Best,</p>
<p>AlMakinah Team</p>